# Ignore Python virtual environments in backend
backend/venv/
    backend/.env
    backend\.env

    backend/tmp/
# Ignore Python cache files
__pycache__/
backend/__pycache__/
backend/**/__pycache__/

backend/.env
backend/.env
backend/api/__pycache__/
**/__pycache__/
